{% extends 'pages/dashboard.html' %}



{% block dashboard_content %}
<div class="min-h-screen flex flex-col gap-5 p-2">
    <div class="flex justify-between border-b-2 border-gray-100 p-5">
        <h1 class="text-lg font-bold">Reservation - show</h1>
        <div class="flex items-center gap-2 capitalize">
            <a href="{% url 'reservation_edit' reservation.id %}" class="text-blue-500">edit</a>
            <a href="{% url 'reservation_delete' reservation.id %}" class="text-red-500">delete</a>
        </div>
    </div>
    <div class="grid grid-cols-2 grid-flow-row">
        <div class="flex flex-col gap-2">
            <h1 class="text-sm">
                Name
            </h1>
            <p class="font-bold">
                {{ reservation.name }}
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-sm">
                Email
            </h1>
            <p class="font-bold">
                {{ reservation.email }}
            </p>
        </div>
    </div>
    <div class="grid grid-cols-3 grid-flow-row">
        <div class="flex flex-col gap-2">
            <h1 class="text-sm">
                Schedule Date
            </h1>
            <p class="font-bold">
                {{ reservation.date }}
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-sm">
                No. Person
            </h1>
            <p class="font-bold">
                {{ reservation.total_person }}
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h1 class="text-sm">
                No. cottage
            </h1>
            <p class="font-bold">
                {{ reservation.total_cottage }}
            </p>
        </div>
    </div>
    <div class="flex flex-col gap-2">
        <h1 class="text-sm">
            message
        </h1>
        <p class="font-bold">
            {{ reservation.message }}
        </p>
    </div>
</div>
{% endblock dashboard_content %}